

html {
    font-size: 125%;
    font-family: 'Josefin Sans', sans-serif;
    color: #2c2c2c;
}

body {
    background-color: #fff;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    margin: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
}

a {
    text-decoration: none;
    color: #fff;
}

.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}
