@use "variables" as *;
nav {
    display: flex;
    padding: 15px 0;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            padding: 0 25px;
            text-transform: uppercase;
        }
    }

    a:hover, a:focus {
        color: $primaryYellow;
    }
}
